@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
}

.main {
  padding: 50px 0;
  background: hsl(185, 75%, 39%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

.card-header {
  border-radius: 15px 15px 0 0;
  height: 150px;
  background: url(./images/bg-pattern-card.svg);
}

.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 90%;
  text-align: center;
  z-index: 50;
  box-shadow: 2px 4px 20px 3px #1a464a6e;
}

.card-image img {
  margin-top: -50px;
  border: 6px solid white;
  border-radius: 50%;
}

.card-info {
  padding: 25px 50px;
}

.card-stats {
  padding: 30px 40px;
  border-top: 2px solid #eee;
  border-radius: 0 0 15px 15px;
}

.card-stats ul {
  display: flex;
  list-style: none;
}

.card-stats ul>* {
  flex: 1;
}

.card-name, .card-stats {
  color: hsl(229, 23%, 23%);
  font-weight: 700;
  font-size: 18px;
}

.card-name {
  margin-bottom: 10px;
}

.card-info p, .card-stats span {
  color: hsl(0, 0%, 59%);
  font-weight: 400;
}

.card-stats span {
  display: block;
  font-size: 13px;
  margin-top: 10px;
}

.card-image, .card-info, .card-stats {
  background: white;
}

.card-stats {
  border-radius: 0 0 15px 15px;
}

.card-name span {
  margin-left: 6px;
  color: hsl(0, 0%, 59%);
  font-weight: normal;
}

.bg-circle-bottom {
  position: absolute;
  right: -300px;
  bottom: -500px;
}

.bg-circle-top {
  position: absolute;
  top: -500px;
  left: -300px;
}

@media only screen and (max-width: 768px) {
  .bg-circle-bottom {
    right: -750px;
    bottom: -600px;
  }

  .bg-circle-top {
    top: -600px;
    left: -750px;
  }
}